@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  color: white;
  font-size: 14px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(circle at right top, #0B0B3F , #060621)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.outerCircle {
  margin: auto;
  height: 150px;
  width: 150px;
  background-color: white;
  padding: 0.5rem;
  border-radius: 50%;
  
}

.innerCircle {
  background-color: #0B0B3F;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}


.pac-container {
  background-color: #060621;
  font-weight: 400;
}

.pac-item, .pac-item-query {
  color: #f7f7f7;
  font-size: 14px;
  font-weight: lighter;
}
 
.pac-item:hover {
  background: #6666;
}


.toastPopUp .Toastify__toast-body div {
  color: #060621;
  font-size: 12px;
}

.toastPopUp button svg, .toastPopUp svg {
  fill: #060621;
}

.toastPopUp [role="progressbar"] {
  background-color: #060621; 
}